npm install axios
npm install react
npm install react-dom
npm install react-router-dom
npm install three
npm install react-password-strength-bar
npm install react-bootstrap
npm install react-redux
npm install jspf
npm install @reduxjs/toolkit
npm install react-spring
